.shop-container{
    background-color: #e9ecef;
}
.jar-img{
    width: 150px;
    height: 150px;
}
.box-btn{
    width: 20px;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 12%;
}

.box-div {
    width: 230px;
    height: 300px;
    background-color: white;
    margin-bottom: 5px;
    padding: 50px 20px;
    /* box-sizing: border-box;  */
    text-align: center;
    box-shadow: 5px 5px 10px rgba(240, 233, 233, 0.5);
}

body{
    background-color: rgb(222, 216, 216);
}
.checkout{
    margin-top: 20px;
    margin-left: 110ch;
}

  